@using MacroMinder.Client.Components.Authentication
@inherits LayoutComponentBase

<div class="page">
    <div class="top-row">
        <p>MACRO MINDER</p>
        <div>
            <LoginDisplay/>
        </div>
    </div>
    <main>
        @Body
    </main>
</div>
